# Common operating system files
*~
.DS_Store
Thumbs.db
.directory
.fuse_hidden*
.nfs*

# Common IDE/editor files
.vscode/
.idea/

# Python
# ------

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.cache
.coverage
.coverage.*
.pytest_cache/
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/

# Caches
.mypy_cache/
.ruff_cache/
